.btn{
    display: flex;
    gap:50px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
}
.btnn{
    color: black;
    width: 10rem;
    margin: 10px 0;
    border:1px solid black;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
}
