.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin:  0 auto;
    padding: 1rem 2rem;
    background-color:rgb(30,30,30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;

}
.logo{
    object-fit: cover;
    height: 3rem;
    width:4rem;
}
.item{
  margin: 1rem;
  cursor: pointer;
}
.item:hover{
    color: rgb(227, 227, 114);
    padding-bottom: 0.5rem;
    border-bottom: 2px solid yellow;
}

.nav_btn{
background-color: white;
color: black;
display: flex;
align-items: center;
justify-content: center;
padding: .3rem 1rem;
border-radius: 2rem;
font-size: 16px;

}

/* Right part */
.nav_btn_img{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 3px;
}
/* Left Part */
.introContant{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.active{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid yellow;
}
.mobMenu{
    display: none;
    object-fit: cover;
    height: 1.5rem;
}
.navMenu{
    position:absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40,40,40);
    border-radius: 1rem;
}
.Listitem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    border-radius: 2rem;
    background-color: rgb(30,30,30);
}
@media screen and (max-width:720px) {
    .mobMenu{
    display: flex;
   }
   .nav_btn{
    display: none;
   }
   .Options{
    display: none;
   }

}