.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    align-items: end;
}
.topButton{
    display: flex;
    gap: 32px;
}
.contactform{
  display: flex;
  flex-direction: column;
  gap: 24px;

}
.formController{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.formController label{
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.formController input{
    height: 40px;
    padding: 0 8px;
}
.contactform form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;
}
